Repository seriouslag/openapi-ts-nx-plugin: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix(nx-plugin): address review — precise tags match, preserve backup on rollback
  packages/nx-plugin/src/utils.compare-spec.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

fix(nx-plugin): make update-api atomic and ignore tag-only spec changes (#27)
  packages/nx-plugin/src/executors/update-api/updateApi.ts
  packages/nx-plugin/src/test-specs/tags-changed.json
  packages/nx-plugin/src/utils.atomic-replace.spec.ts
  packages/nx-plugin/src/utils.compare-spec.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint, prettier

chore: pin pnpm 11 and approve lefthook build script (#28)
  .github/workflows/ci.yml
  .github/workflows/preview-publish.yml
  .github/workflows/publish.yml
  .github/workflows/sync-openapi.yml
  README.md
  package.json
  pnpm-workspace.yaml
Due: prettier

ci: fix release changelog generation with git-cliff
  .github/workflows/release.yml
Due: prettier

ci: fix release changelog generation with git-cliff (#29)
  .github/workflows/release.yml
Due: prettier

chore: add GitHub sponsors funding configuration
  .github/FUNDING.yml
Due: prettier

chore: add repository stats script
  .github/scripts/update-repo-stats.mjs
Due: eslint

chore: add repository stats workflow
  .github/workflows/repo-stats.yml
Due: prettier

chore: add repository stats placeholder
  .github/repo-stats.json
Due: prettier

chore: remove repo stats helper script
  .github/scripts/update-repo-stats.mjs
Due: eslint

remove repo stats placeholder
  .github/repo-stats.json
Due: prettier

chore: inline repo stats workflow
  .github/workflows/repo-stats.yml
Due: prettier

Add repository stats issue workflow (#30)
  .github/workflows/repo-stats.yml
Due: prettier

docs(nx-plugin): rewrite READMEs for plugin consumers and contributors
  README.md
  packages/nx-plugin/README.md
Due: prettier

feat(nx-plugin): generate README option tables from schemas with CI check
  .github/workflows/ci.yml
  package.json
  packages/nx-plugin/scripts/docs-options.mjs
  packages/nx-plugin/src/executors/update-api/updateApi.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.schema.json
Due: eslint, prettier

fix(nx-plugin): render oneOf item unions in schema-to-markdown docs
  packages/nx-plugin/README.md
  packages/nx-plugin/scripts/docs-options.mjs
Due: eslint, prettier

docs(nx-plugin): use npx nx in README command examples
  README.md
  packages/nx-plugin/README.md
Due: prettier

docs(nx-plugin): rewrite READMEs and add schema-to-markdown docs check (#32)
  .github/workflows/ci.yml
  README.md
  package.json
  packages/nx-plugin/README.md
  packages/nx-plugin/scripts/docs-options.mjs
  packages/nx-plugin/src/executors/update-api/updateApi.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.schema.json
Due: eslint, prettier

fix(ci): authenticate repo stats workflow with a PAT
  .github/workflows/repo-stats.yml
Due: prettier

fix(ci): authenticate repo stats workflow with a PAT (#33)
  .github/workflows/repo-stats.yml
Due: prettier

chore(deps): update dependencies
  apps/test-plugin/package.json
  package.json
  packages/nx-plugin/README.md
  packages/nx-plugin/package.json
  pnpm-lock.yaml
Due: prettier

fix(deps): override transitive deps to clear Dependabot alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore(deps): update dependencies and clear Dependabot alerts (#34)
  apps/test-plugin/package.json
  package.json
  packages/nx-plugin/README.md
  packages/nx-plugin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(nx-plugin): keep plugin options from openapi-ts.config
  .prettierignore
  CLAUDE.md
  packages/nx-plugin/README.md
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/update-api/updateApi.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.ts
  packages/nx-plugin/src/utils.plugin-merge.spec.ts
  packages/nx-plugin/src/utils.ts
  pnpm-lock.yaml
Due: eslint, prettier

refactor(nx-plugin): read the config with hey-api's own loader
  CLAUDE.md
  packages/nx-plugin/README.md
  packages/nx-plugin/package.json
  packages/nx-plugin/src/utils.plugin-merge.spec.ts
  packages/nx-plugin/src/utils.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(nx-plugin): let openapi-ts merge duplicate plugin entries
  packages/nx-plugin/README.md
  packages/nx-plugin/src/executors/update-api/updateApi.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.codegen.e2e.ts
  packages/nx-plugin/src/utils.plugin-merge.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint, prettier

test(nx-plugin): assert an observable option on both merge sides
  packages/nx-plugin/README.md
  packages/nx-plugin/src/generators/openapi-client/openapiClient.codegen.e2e.ts
Due: eslint, prettier

chore(nx-plugin): enforce codegen-core lockstep in version check
  CLAUDE.md
  README.md
  packages/nx-plugin/scripts/version-with-openapi.mjs
Due: eslint, prettier

fix(nx-plugin): keep plugin options from openapi-ts.config (#35)
  .prettierignore
  CLAUDE.md
  README.md
  packages/nx-plugin/README.md
  packages/nx-plugin/package.json
  packages/nx-plugin/scripts/version-with-openapi.mjs
  packages/nx-plugin/src/executors/update-api/updateApi.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.codegen.e2e.ts
  packages/nx-plugin/src/generators/openapi-client/openapiClient.ts
  packages/nx-plugin/src/utils.plugin-merge.spec.ts
  packages/nx-plugin/src/utils.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(nx-plugin): skip codegen-core lockstep check without an install
  CLAUDE.md
  packages/nx-plugin/scripts/version-with-openapi.mjs
Due: eslint, prettier

fix(nx-plugin): skip codegen-core lockstep check without an install (#36)
  CLAUDE.md
  packages/nx-plugin/scripts/version-with-openapi.mjs
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  prettier: any of: *.{md,json,yml,yaml,css,scss,html}
