Repository seriouslag/openapi-ts-nx-plugin: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat(nx-plugin): add preview publish workflow and update README
  .github/workflows/preview-publish.yml
  packages/nx-plugin/README.md
  packages/nx-plugin/src/generators/openapi-client/README.md
  packages/nx-plugin/src/generators/openapi-client/openapiClient.schema.json
  packages/nx-plugin/src/generators/openapi-client/openapiClient.spec.ts
  packages/nx-plugin/src/generators/openapi-client/openapiClient.ts
  packages/nx-plugin/src/generators/openapi-client/tests/jest/jest.config.cjs.template
  packages/nx-plugin/src/generators/openapi-client/tests/jest/src/client.spec.ts.template
  packages/nx-plugin/src/generators/openapi-client/tests/jest/tsconfig.spec.json.template
  packages/nx-plugin/src/generators/openapi-config/README.md
  packages/nx-plugin/src/generators/openapi-config/openapiConfig.schema.json
  packages/nx-plugin/src/generators/openapi-config/openapiConfig.spec.ts
  packages/nx-plugin/src/generators/openapi-config/openapiConfig.ts
Due: eslint, prettier

refactor(preview-publish): simplify permission checks and validate package name
  .github/workflows/preview-publish.yml
Due: prettier

feat(workflows): add release workflow and tag verification
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier

fix(release-workflow): address PR review comments
  .github/workflows/release.yml
Due: prettier

feat(release): automate sync and patch versioning
  .github/workflows/release.yml
  package.json
  packages/nx-plugin/README.md
  packages/nx-plugin/scripts/version-with-openapi.mjs
Due: eslint, prettier

feat(ci): auto-sync openapi dependency
  .github/workflows/sync-openapi.yml
  packages/nx-plugin/README.md
Due: prettier

fix(ci): address PR review feedback
  .github/workflows/release.yml
  .github/workflows/sync-openapi.yml
  packages/nx-plugin/scripts/openapi-version.mjs
  packages/nx-plugin/scripts/version-with-openapi.mjs
Due: eslint, prettier

fix declaration entry paths
  packages/nx-plugin/package.json
Due: prettier

fix: Added types field (index.d.ts) and created declaration file
  index.d.ts
  package.json
Due: eslint, prettier

fix: add missing metadata fields to package.json
  package.json
Due: prettier

fix(nx-plugin): point package types at emitted *.d.ts files
  packages/nx-plugin/package.json
Due: prettier

chore: update dependencies to latest and add typecheck
  .github/workflows/ci.yml
  .gitignore
  apps/test-plugin/package.json
  apps/test-plugin/src/app/app.tsx
  apps/test-plugin/src/main.tsx
  nx.json
  package.json
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/update-api/updateApi.spec.ts
  packages/nx-plugin/src/generators/openapi-client/openapiClient.spec.ts
  packages/nx-plugin/src/plugin/plugin.e2e.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(nx-plugin): update @hey-api/openapi-ts to ^0.99.0
  packages/nx-plugin/package.json
  pnpm-lock.yaml
Due: prettier

test(nx-plugin): add real client codegen e2e test
  packages/nx-plugin/src/generators/openapi-client/openapiClient.codegen.e2e.ts
Due: eslint

test(nx-plugin): guard published manifest entry points
  packages/nx-plugin/src/package-exports.e2e.ts
Due: eslint

ci: publish to npm via OIDC trusted publishing (no token)
  .github/workflows/publish.yml
Due: prettier

ci: address review — require tag input, pin npm to 11.x
  .github/workflows/publish.yml
Due: prettier

ci(release): auto-trigger Publish after tagging
  .github/workflows/release.yml
Due: prettier

fix(nx-plugin): emit generator schemas and templates at expected paths
  packages/nx-plugin/project.json
  packages/nx-plugin/src/generators-manifest.e2e.ts
Due: eslint, prettier

fix(nx-plugin): load ESM-only deps via dynamic import in CJS build
  packages/nx-plugin/src/generators/openapi-client/openapiClient.ts
  packages/nx-plugin/src/require-load.e2e.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

feat(nx-plugin): update-api reads openapi-ts.config for config-only settings
  packages/nx-plugin/src/executors/update-api/updateApi.ts
  packages/nx-plugin/src/utils.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

fix(nx-plugin): resolve config path to absolute and omit undefined watch
  packages/nx-plugin/src/utils.ts
Due: eslint

feat(nx-plugin): update-api reads openapi-ts.config for config-only settings (#22)
  packages/nx-plugin/src/executors/update-api/updateApi.ts
  packages/nx-plugin/src/utils.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

chore: add repo maintenance infrastructure
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  cliff.toml
  packages/nx-plugin/src/generators/openapi-client/README.md
  packages/nx-plugin/src/generators/openapi-client/swagger-codegen.e2e.ts
  renovate.json
Due: eslint, prettier

chore: add repo maintenance infrastructure (#23)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  cliff.toml
  packages/nx-plugin/src/generators/openapi-client/README.md
  packages/nx-plugin/src/generators/openapi-client/swagger-codegen.e2e.ts
  renovate.json
Due: eslint, prettier

fix(nx-plugin): use local binaries instead of npx to prevent package downloads
  packages/nx-plugin/src/plugin/plugin.spec.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/utils.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

fix(nx-plugin): use local binaries instead of npx to prevent package downloads (#24)
  packages/nx-plugin/src/plugin/plugin.spec.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/utils.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint

test(nx-plugin): e2e test that generateApi actually invokes the openapi-ts binary
  packages/nx-plugin/src/plugin/plugin.e2e.ts
Due: eslint

test(nx-plugin): e2e test that generateApi actually invokes the openapi-ts binary (#25)
  packages/nx-plugin/src/plugin/plugin.e2e.ts
Due: eslint

test(nx-plugin): add e2e coverage for updateApi executor and generator scaffolding
  packages/nx-plugin/src/executors/update-api/updateApi.e2e.ts
  packages/nx-plugin/src/generators/openapi-client/openapiClient.spec.ts
Due: eslint

test(nx-plugin): address self-review findings in updateApi.e2e.ts
  packages/nx-plugin/src/executors/update-api/updateApi.e2e.ts
Due: eslint

test(nx-plugin): comprehensive e2e and unit coverage for executor and generator (#26)
  packages/nx-plugin/src/executors/update-api/updateApi.e2e.ts
  packages/nx-plugin/src/generators/openapi-client/openapiClient.spec.ts
Due: eslint

fix(nx-plugin): make update-api atomic and ignore tag-only spec changes
  packages/nx-plugin/src/executors/update-api/updateApi.ts
  packages/nx-plugin/src/test-specs/tags-changed.json
  packages/nx-plugin/src/utils.atomic-replace.spec.ts
  packages/nx-plugin/src/utils.compare-spec.spec.ts
  packages/nx-plugin/src/utils.ts
Due: eslint, prettier

chore: pin pnpm 11 and approve lefthook build script
  .github/workflows/ci.yml
  .github/workflows/preview-publish.yml
  .github/workflows/publish.yml
  .github/workflows/sync-openapi.yml
  package.json
  pnpm-workspace.yaml
Due: prettier

fix: migrate onlyBuiltDependencies to allowBuilds for pnpm 11
  pnpm-workspace.yaml
Due: prettier

docs: note pnpm 11 / corepack prerequisite
  README.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs,mts,cts}
  prettier: any of: *.{md,json,yml,yaml,css,scss,html}
